
.nav--user--link
{
    margin: 1.2rem 0.5rem !important;
}

.large-invisible{
    display: block;
}
.month-info-palet>input[type="date"]::-webkit-calendar-picker-indicator {
 
    width: 1rem;
}

.nav--user--link:hover
{
     border-bottom: 0.1rem solid white;
    margin:1.2rem 0.5rem 1.3rem 0.5rem !important;
   transform: translateY(-0.2rem); 
}

.first--page--list--option {
    display: block;
    text-align: center;
    position: relative;
    top: 15%;
    width: 55vw;
    font-size: 2.5rem;
    padding: 1rem;
    transform: skew(-20deg,-20deg);
    padding-top: 2rem;
    height: 10rem;
    background: rgba(255, 255, 255, 0.4);
    margin: auto;
}

.document-display
{
   grid-template-columns: auto;
}

.first--page--list--option:hover
{
   width: 65vw;
   padding:2rem 10vw 0 10vw;
   transition: 0.5s ease-in-out;
   background:rgba(0, 0, 0, 0.5);
   color: white;
}

.nav--main{

    flex: 2;
height: 7.5vh;
}

.nav--link:hover{

    border-bottom: 0.1rem solid white;
    margin:1.1rem auto;
   transform: translateY(-0.2rem);
}

.header--logo 
{
    display:none;
    flex:1;
    height: 7.5vh;
    align-content: center;
}


.nav--user
{
    flex:5;
    background-color: var(--primary-color);
    height:100%;
    line-height: 100%;
    text-align: right;
    /* padding-left: 3rem; */
}

.studentInfo-page
{
display: flex;
padding: 2rem 0;
width: 100vw;
height: 100%;
flex-direction: column;
}

.studentInfo-page>.option--page
{
    width: 100%;
    height: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.option--btn
{
    width: 15rem;
}

.option--btn:hover{
padding:  0 1.5rem;    
width: 18rem;
}

.option--page>a>.option--btn
{
    font-family: 'Pushster', cursive;
    display: block;
    margin: auto;
    height: 6rem;
    color: black;
    font-size: 2rem;
    padding: 0;
    width: 17rem;
    background: rgba(255, 255, 255, 0.5);
    color: var(--primary-color);
    transform: skew(-20deg,-10deg);
}


.option--page>a>.option--btn:hover
{
width: 20rem;
color:black;
transition: width 0.3s ease-out,color 0s;
}

#fees-record
{
    width: 85vw;
}

#fees-record label, #fees-record input,#fees-record select {
    display: inline-block;
    width: calc(100%/3.4);
}

.student-display
{
    grid-template-columns: auto auto;
}

.margin5
{
    margin:3rem auto;
}


.option--btn--small
{
width:13rem;
}

.option--btn--small:hover
{
width:17rem;
transition: 0.3s ease-in-out;
}

.form-div-data
{
    width: 80vw;
}

.get-form
{
    width: 100%;
}

.get-form > label, .get-form > input, .get-form > select {
    display: block;
    width: 100% !important;
    text-align: left;
    padding: 0.2rem;
}

#get-student-sr-data .image-block {
    position: absolute;
    top: 5vh;
    right: 5vw;
}

.upload-pic
{
    width: 10rem;
}

#get-student-data
{
    margin-top: 5vh;
}

.month-palet
{
    grid-column-gap: 0;
}

.month-info-palet > label+input {
    display: block;
    width: 25vw;
    padding: 0;
}
#get-student-sr-data .image-block {
    position: absolute;
    top: 5vh;
    right: 3vw;
}

.print-student-sr-img>img
{
    
    display: block;
    margin:1.6rem auto 1.5rem;
    height: 8rem;
    width: 8rem;
}

.form-div
{
    width: 82vw;
    margin: auto;
}

.form-div-data {
  
    min-height: 85vh;
    width: 82vw;
}

#excel-form
{
    margin: 12vh auto 1rem auto;
}
.form-div-data>form:first-child >label {
    display: inline-block;
    width: 40vw !important;
}

.form-div-data>form:first-child> input[type="checkbox"]
{
    margin:0 0 0 10vw !important;
}

.invisible
{
    display: none !important;
}

.class-list-cover input,.class-list-cover select
{
    display: block;
    width: 100% !important;
    text-align: left;
    padding: 0.2rem;
}

.get-form>.side-pic_pc
{
    width: 100% !important;
}

.sr-print-LKGTOUKG
{
    grid-template-areas:
    "sr prev-sr img img"
    "name sr-no img img"
    "dob dob img img"
    "sex sex class class"
    "dob-in-words dob-in-words dob-in-words dob-in-words"
    "religion religion caste caste"
    "nationality nationality category category"
    "parents parents parents parents"
    " address address address address" 
    "phone_number1 phone_number1 occupation occupation"
    "phone_number2 phone_number2 whatsapp_number whatsapp_number"
    "last-school last-school last-school  last-school"
    "date-of-admission date-of-admission  date-of-admission date-of-admission"
     "lkg lkg lkg lkg"
     "ukg ukg ukg ukg "
    "last-class last-class leave-date leave-date"
    "leave-reason leave-reason remark remark"
    ;
    margin: 0rem;
}

.sr-print-1TO5
{
    grid-template-areas:
    "sr prev-sr img img"
    "name sr-no img img"
    "dob dob img img"
    "sex sex class class"
    "dob-in-words dob-in-words dob-in-words dob-in-words"
    "religion religion caste caste"
    "nationality nationality category category"
    "parents parents parents parents"
    " address address address address" 
    "phone_number1 phone_number1 occupation occupation"
    "phone_number2 phone_number2 whatsapp_number whatsapp_number"
    "last-school last-school last-school  last-school"
    "date-of-admission date-of-admission  date-of-admission date-of-admission"
     "one one one one"
     "two two two two"
     "three three three three"
     "four four four four"
     "five five five five"
    "last-class last-class leave-date leave-date"
    "leave-reason leave-reason remark remark"
    ;
    margin: 0rem;
}

.sr-print-6TO8
{
    grid-template-areas:
    "sr prev-sr img img"
    "name sr-no img img"
    "dob dob img img"
    "sex sex class class"
    "dob-in-words dob-in-words dob-in-words dob-in-words"
    "religion religion caste caste"
    "nationality nationality category category"
    "parents parents parents parents"
    " address address address address" 
    "phone_number1 phone_number1 occupation occupation"
    "phone_number2 phone_number2 whatsapp_number whatsapp_number"
    "last-school last-school last-school  last-school"
    "date-of-admission date-of-admission  date-of-admission date-of-admission"
     "six six six six"
"seven seven seven seven"
     "eight eight eight eight"
    "last-class last-class leave-date leave-date"
    "leave-reason leave-reason remark remark"
    ;
    margin: 0rem;
}

.sr-print-PG
{
    grid-template-areas:
    "sr prev-sr img img"
    "name sr-no img img"
    "dob dob img img"
    "sex sex class class"
    "dob-in-words dob-in-words dob-in-words dob-in-words"
    "religion religion caste caste"
    "nationality nationality category category"
    "parents parents parents parents"
    " address address address address" 
    "phone_number1 phone_number1 occupation occupation"
    "phone_number2 phone_number2 whatsapp_number whatsapp_number"
    "last-school last-school last-school  last-school"
    "date-of-admission date-of-admission  date-of-admission date-of-admission"
     "pg pg pg pg"
    "last-class last-class leave-date leave-date"
    "leave-reason leave-reason remark remark"
    ;
    margin: 0rem;
}


#student-leave
{
    display: inline;
    width: fit-content !important;
}