@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Neonderthaw&display=swap');

:root
{
    --primary-color:rgb(67, 67, 255);
    --secondary-color:white;
    
}

::selection {
    color:inherit;
    background: var(--primary-color);
  }

  option{
      background-color: var(--primary-color);
  }

  .back-btn-header{
      position: absolute;
      top:20px;
      left:10px;
  }

  #back-btn:hover{
      cursor: pointer;
  }

.get-form>.side-pic,.get-form>.side-pic_pc
{
    width: 25vw !important;
}

.large-invisible
{
    display: none !important;
}

select{
    background-color: inherit;
    color: white;
    border-radius: 1rem;
}

::placeholder
{
    color: black;
}

.margin5
{
    margin:5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input
{
    margin-bottom: 0.2rem ;
    background-color: rgba(0, 0, 255, 0.466);
    border-radius: 1rem;
    border: 1px dotted black;
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.extender
{
    width: 100%;
    min-height: 85vh;
    position: relative;
}

table{
    width: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

header{
    min-width:100%;
    height: 7.5vh;
    background-color:var(--primary-color);
    display: flex;
    flex-direction: rows;
    align-items: center;
    color: var(--secondary-color) !important;
    font-weight:800;
}

header a
{
    color: var(--secondary-color);
}

.nav--main{

    flex: 3;
height: 7.5vh;
}

.nav--link{
    text-align: right;
    display: inline-block;
    margin:1.2rem auto 1.2rem 18vw;
    /* background-color: turquoise; */;
    /* width: 20vw; */
}

.nav--link:hover{

    border-bottom: 0.1rem solid white;
    margin:1.1rem auto 1.1rem 18vw;
   transform: translateY(-0.2rem);
}

.header--logo 
{
    flex:3;
    height: 7.5vh;
    align-content: center;
}

.header--logo img
{
    display: block;
height: 100%;
margin: auto;
}

.header--logo img:hover
{
transform:scale3d(2rem);
}

.nav--user
{
    flex:3;
    background-color: var(--primary-color);
    height:100%;
    line-height: 100%;
    text-align: right;
    /* padding-left: 3rem; */
}


.nav--user--link
{
width:fit-content;
display: inline-block;
margin:1.2rem ;
}

.nav--user--link:hover
{
     border-bottom: 0.1rem solid white;
    margin:1.2rem 1.2rem 1.3rem 1.2rem ;
   transform: translateY(-0.2rem); 
}


.first--page
{
    background: url("/img/overview.jpg") no-repeat center center / cover ;
height: 85vh;
width: 100%;
}

.first--page--cover
{
    display: block;
    height: 50%;
    width: 100%;
    
}

.first--page--options
{
    position: absolute;
    top:25vh;
    height: 50%;
    width: 100%;
}

.first--page--options a
{
color: black;
}

.first--page--list--option
{
    display: block;
    text-align: center;
    width: 15vw;
    font-size: 2.5rem;
    padding: 1rem;
    transform: skew(-20deg,-20deg);
    padding-top: 2rem;
    height:10rem;
    background:rgba(255, 255, 255, 0.4);
    margin:auto;
}

.first--page--list--option:hover
{
   width: 33vw;
padding-left: 10rem;
padding-right: 10rem;
   transition: 0.5s ease-in-out;
   background:rgba(0, 0, 0, 0.5);
   color: white;
}

.footer
{
    line-height: 7.5vh;
    text-align: center;
    width: 100%;
    color: blanchedalmond;
    background-color: black;
}

.option--page
{
    width: 100%;
    height:50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.option--page--doc
{
    width: 100%;
    height:85vh;
    background: url("/img/bothInfo.jpg") no-repeat center center / cover;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.doc--page
{
    position: absolute;
    top:0;
    background: url(/img/bothInfo.jpg) no-repeat center center / cover;
    width: 100%;
    height:100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.studentInfo-page
{
display: flex;
width: 100vw;
height: 85vh;
flex-direction: row;
}

.studentInfo-page::before
{
    content: "";
    position: absolute;
    top:0;
    z-index: -1;
    width: 100vw;
    height: inherit;
    background: url("/img/bothInfo.jpg")no-repeat center center / cover;
}

.option--btn
{
    font-family: 'Pushster', cursive;
    display: block;
    margin: auto;
    height: 6rem;
    color: black;
    font-size: 2rem;
    width:20rem;
    background:rgba(255, 255, 255, 0.5);
    color: var(--primary-color);
    transform: skew(-20deg,-10deg);
    
}

.option--btn:hover
{
width: 30rem;
color:black;
transition: width 0.5s ease-in-out,color 0s;
}

.form-div
{
    display: flex;
    height: 85vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get-form
{
    padding: 1rem;
    text-align: center;
    font-family: 'Pushster', cursive;
    background-color: blue;
    color: white;
    width: fit-content;
    border-radius:2rem;
    margin-bottom: 1rem;
}

.get-form > label,.get-form > input,.get-form > select
{
    display: block ;
    width: 50vw !important;
    text-align: left ;
    padding: 0.2rem;
}


.get-form > p
{
    font-size: 1.5rem;
}

.student-display
{
    margin: 1rem;
    display: grid;
    grid-template-columns:auto auto auto;

    row-gap: 1rem;
    min-height: 80.5vh;
    column-gap: 2rem;
}

.student-pallet
{
background-color: blue;
border-radius: 0.5rem;
color: white;
height: max-content;
padding: 1rem;
}

.student-pallet button
{
    display: block;
    margin: auto;
    background-color: black;
    padding: 0.2rem;
    color: white;
    border-radius: 1rem;
}

.month-palet
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    margin-bottom: 1rem;
}

.month-info-palet
{
display: block;
}

.month-info-palet > label+input
{

    display: block;
    width:15vw;
    padding: 0;
}

.month-info-palet>input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgb(255, 255, 255);
    display: block;
     background-color:white;
    width: 1rem;
    height: 1rem;
    padding: 0.1rem;
    border-radius: 50%;
}
.form-div-data 
{
    min-height: 85vh;
    width:fit-content;
margin: auto;
padding-top: 1rem;
text-align: left;
}

#get-student-data
{
    text-align: left;
}

.form-div-data #get-student-data input
{
    
   margin: 0.2rem auto;
   padding: 0.2rem;
}

.form-div-data label
{
    display: inline;
    padding: 0;
}

/* margin-top: 4rem;
} */

.document-display
{
    margin: 1rem;
    display: grid;
    grid-template-columns:auto auto auto auto;
    row-gap: 1rem;
    column-gap: 1rem;
    min-height: 80.5vh;
}

.document-pallet
{
background-color: blue;
border-radius: 0.5rem;
color: white;
height: 10rem;
}

.doc-option
{
    display: flex;
}


.doc-option> a,.doc-option>button
{
    flex:1;
    display: block;
    margin: auto;
    margin: 2rem 0.2rem;
    background-color: black;
    padding: 0.2rem;
    color: white;
    border-radius: 1rem;
}

.no_change
{
    background-color: black;
    color: white;
}

#excel-form
{
    margin: 20vh auto 1rem auto;

}

#excel-form > input{
display: inline !important;
width: 2rem !important;
}

#fees-record
{
    text-align: left;
    font-size: 0.5rem;
}

#fees-record label,#fees-record input,#fees-record select
{
display: inline-block;
width: 7rem;
}

#fees-record input,#fees-record select
{
    margin:  0.5rem;
    padding: 0.5rem;
}
#fees-record p
{
    font-size: 1rem;
}

* input[type="submit"] 
{
    margin-top: 0.5rem !important;
    margin:0.5rem auto !important;
    width: 100% !important;
    display: block !important;
    text-align:center !important;
    background-color: black !important;
    color: white !important;
    padding: 0.5rem !important;
}

* input[type="radio"],* input[type="checkbox"]
{
    width: min-content !important;
    margin: 0 !important;
    padding: 0 !important;
}

.center{
    text-align: center !important;
}

.left
{
    text-align: left !important;
}

.right{
    text-align: right !important;
}

#get-student-sr-data
{
    position: relative;
}

#get-student-sr-data .image-block
{
    position: absolute;
    top:5vh;
    right:1vw;
}

#get-student-sr-data>.image-block>img
{
    width: 10rem;
    height:10rem;
    border-radius: 50%;
    display: block;
margin: auto;
}

#get-student-sr-data>.image-block>button
{
    display: block;
    margin: auto;
}

.upload-pic-btn
{
    width: max-content;
    display: block;
    margin:0.5rem auto;
    border: 2px;
    background-color: black;
    padding: 0.5rem;
}

.doc-palette
{
    display: flex;
    flex-direction: column;
}

.upload-doc-btn
{
 flex:1;
 text-align: center;
 padding: 0.3rem;
    margin:0.2rem;
    border-radius: 10rem;
    color: white;
    background-color: black;
}

.upload-pic-btn:hover
{
cursor: pointer;
}

.upload-pic
{
    width: 20rem;
}

.del-doc
{
    background-color: grey;
    color: white;
    border: 0;
    width: 25%;
    height: 2rem;
    border-radius: 5rem ;
}

.download-doc-btn{
    display: inline-block;
    background-color: black;
    color: white;
    width: 60%;
    height:2rem;
    border-radius:10rem ;
    line-height: 1.8rem
}

.docs
{
    margin: 0.3rem 0 ;
}

.del-doc-school
{
    background-color: grey !important;
    color: white;
    border: 0;
    border-radius: 5rem ;
}

#student-sr-id
{
    font-size: 0.5rem;
}

#sr-print
{
    position: absolute;
    top:7.5vh;
    right: 0rem;
}

.print-student-sr
{
    grid-area: sr;
}

.print-student-sr-no
{
    grid-area: sr-no;
}

.print-student-prev-sr
{
    grid-area: prev-sr;
}

.print-student-sr-img
{
    grid-area: img;
}

.print-student-sr-name
{
    grid-area: name;
}

.print-student-sr-parents
{
    grid-area: parents;
}


.print-student-sr-dob
{
    grid-area: dob;
}

.print-student-sr-dob-in-words
{
    grid-area: dob-in-words;
}

.print-student-sr-class
{
    grid-area: class;
}

.print-student-sr-date-of-admission
{
    grid-area: date-of-admission;
}

.print-student-sr-category
{
    grid-area: category;
}

.print-student-sr-nationality
{
grid-area:nationality;
}

.print-student-sr-phone_number1
{
grid-area:phone_number1;
}

.print-student-sr-phone_number2
{
grid-area:phone_number2;
}

.print-student-sr-whatsapp_number
{
grid-area:whatsapp_number;
}

.print-student-sr-sex
{
    grid-area:sex;
}

.print-student-sr-last_school
{
    grid-area: last-school;
}

.print-student-sr-address
{
    grid-area: address;
}

.print-student-sr-religion
{
    grid-area: religion;
}

.print-student-sr-caste
{
    grid-area: caste;
}

.print-student-sr-occupation
{
    grid-area: occupation;
}

.print-student-sr-one
{
    grid-area: one;
}

.print-student-sr-two
{
    grid-area: two;
}

.print-student-sr-three
{
    grid-area: three;
}

.print-student-sr-four
{
    grid-area: four;
}

.print-student-sr-five
{
    grid-area: five;
}

.print-student-sr-six
{
    grid-area: six;
}

.print-student-sr-seven
{
    grid-area: seven;
}

.print-student-sr-eight
{
    grid-area: eight;
}

.print-student-sr-lkg
{
    grid-area: lkg;
}

.print-student-sr-ukg
{
    grid-area: ukg;
}

.print-student-sr-pg
{
    grid-area: pg;
}

.print-student-sr-last-class
{
    grid-area: last-class;
}

.print-student-sr-leave-date
{
    grid-area: leave-date;
}

.print-student-sr-remark
{
    grid-area: remark;
}

.print-student-sr-leave-reason
{
    grid-area: leave-reason;
}

.print-student-sr-img>img
{
    
    display: block;
    margin:0 auto;
    height: 8rem;
    width: 8rem;
}

.sr-print-LKGTOUKG
{
    display: grid;
    background-color: black;
    grid-template-areas:
    "sr sr prev-sr sr-no img img"
    "name name name class img img"
    "dob dob sex sex img img"
    "dob-in-words dob-in-words dob-in-words dob-in-words dob-in-words dob-in-words"
    "nationality nationality religion religion caste caste"
    "category category category occupation occupation occupation"
    "parents parents parents parents parents parents"
    "address address address address address address" 
    "phone_number1 phone_number1 phone_number2 phone_number2 whatsapp_number whatsapp_number"
    "last-school last-school last-school last-school last-school last-school"
    "date-of-admission date-of-admission date-of-admission date-of-admission date-of-admission date-of-admission"
    "lkg lkg lkg lkg lkg lkg"
    "ukg ukg ukg ukg ukg ukg"
    "last-class last-class last-class leave-date leave-date leave-date"
    "leave-reason leave-reason leave-reason remark remark remark" 
    ;
    margin: 2rem;
    grid-gap: 2pxpx;
    border: 0.2rem solid black;
}

.sr-print-1TO5
{
    display: grid;
    background-color: black;
    grid-template-areas:
    "sr sr prev-sr sr-no img img"
    "name name name class img img"
    "dob dob sex sex img img"
    "dob-in-words dob-in-words dob-in-words dob-in-words dob-in-words dob-in-words"
    "nationality nationality religion religion caste caste"
    "category category category occupation occupation occupation"
    "parents parents parents parents parents parents"
    "address address address address address address" 
    "phone_number1 phone_number1 phone_number2 phone_number2 whatsapp_number whatsapp_number"
    "last-school last-school last-school last-school last-school last-school"
    "date-of-admission date-of-admission date-of-admission date-of-admission date-of-admission date-of-admission"
     "one one one one one one"
     "two two two two two two"
     "three three three three three three"
     "four four four four four four"
     "five five five five five five"
    "last-class last-class last-class leave-date leave-date leave-date"
    "leave-reason leave-reason leave-reason remark remark remark" 
    ;
    margin: 2rem;
    grid-gap: 2px;
    border: 0.2rem solid black;
}

.sr-print-6TO8
{
    display: grid;
    background-color: black;
    grid-template-areas:
    "sr sr prev-sr sr-no img img"
    "name name name class img img"
    "dob dob sex sex img img"
    "dob-in-words dob-in-words dob-in-words dob-in-words dob-in-words dob-in-words"
    "nationality nationality religion religion caste caste"
    "category category category occupation occupation occupation"
    "parents parents parents parents parents parents"
    "address address address address address address" 
    "phone_number1 phone_number1 phone_number2 phone_number2 whatsapp_number whatsapp_number"
    "last-school last-school last-school last-school last-school last-school"
    "date-of-admission date-of-admission date-of-admission date-of-admission date-of-admission date-of-admission"
     "six six six six six six"
     "seven seven seven seven seven seven"
     "eight eight eight eight eight eight"
    "last-class last-class last-class leave-date leave-date leave-date"
    "leave-reason leave-reason leave-reason remark remark remark" 
    ;
    margin: 2rem;
    grid-gap: 2px;
    border: 0.2rem solid black;
}

.sr-print-PG
{
    display: grid;
    background-color: black;
    grid-template-areas:
    "sr sr prev-sr sr-no img img"
    "name name name class img img"
    "dob dob sex sex img img"
    "dob-in-words dob-in-words dob-in-words dob-in-words dob-in-words dob-in-words"
    "nationality nationality religion religion caste caste"
    "category category category occupation occupation occupation"
    "parents parents parents parents parents parents"
    "address address address address address address" 
    "phone_number1 phone_number1 phone_number2 phone_number2 whatsapp_number whatsapp_number"
    "last-school last-school last-school last-school last-school last-school"
    "date-of-admission date-of-admission date-of-admission date-of-admission date-of-admission date-of-admission"
     "pg pg pg pg pg pg"
    "last-class last-class last-class leave-date leave-date leave-date"
    "leave-reason leave-reason leave-reason remark remark remark" 
    ;
    margin: 2rem;
    grid-gap: 0.5px;
    border: 0.5px solid black;
}

.sr-print-grid>div
{
   background-color: white;
   border: 0.1rem solid;
   line-height: 1.5rem;
}

.sr-print-grid>div strong,span
{
 display: inline-block;
}

.sr-print-grid>div>table th,td,tr
{
    border:0.01rem solid black;
    text-align: center;
}

.sr-print-grid>div>table
{
    border-collapse: collapse;
    border: 0;
    width: 100%;
    margin: 0;
}

.invisible
{
    display: none !important;
}

.message_block
{
   padding: 10vw;
   width: max(100vw);
   height: min-content;
    padding-top:25vh;
    margin: auto;
    color: red;
    font-size: 40px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.class-list-cover input,.class-list-cover select
{
    display: block;
    width: 50vw !important;
    text-align: left;
    padding: 0.2rem;
}

.class-pass th{
    min-width: 30vw !important;
}

#student-leave
{
    display: inline;
}