extend base

block content
    .extender
        .option--page--doc
            a(href="documentInfo/upload")
                button.upload-doc.option--btn Upload
            a(href="documentInfo/download")
                button.get-doc.option--btn Download