extend base

block content
    .form-div
        form.download-form.get-form
            p Enter the required data
            label(for="type") Enter Type
            input#type(type="text" name="type")
            label(for="Date") Enter Date
            input#date(type="Date" name="date")
            input(type="submit", value="Submit")