extend base

block content
    .form-div-data
        form.get-form#excel-form
            input(type="checkbox" name="session" id="session-check" checked)
            label(for="session-check") Session
            input(type="checkbox" name="father_name" id="father-check" checked)
            label(for="father-check") Father's Name 
            input(type="checkbox" name="fees" id="fees-check" checked)
            label(for="fees-check") Fees Record
            input(type="checkbox" name="add-info" id="add-info-check" checked)
            label(for="add-info-check") Additional Info
        form.get-form#excel-form-filter
            label(for="session-filter" id = "session-filter-label") Session
            input(type="Number" id="session-filter" placeholder="20**")
            label(for="class-filter") Class
            select#class-filter(name="class-filter")   
                option(value="PG") PG
                option(value="LKG") LKG
                option(value="UKG") UKG
                option(value="1st") 1st
                option(value="2nd") 2nd
                option(value="3rd") 3rd
                option(value="4th") 4th
                option(value="5th") 5th
                option(value="6th") 6th
                option(value="7th") 7th
                option(value="8th") 8th 
            input(type="submit" value="Submit" id="print-excel")