extend base

block content
    .form-div
        form.get-form#fees-record 
            p
                label(for="fee-class") Class 
                select#class-from(name="fee-class")
                    option(value="0") PG
                    option(value="1") LKG
                    option(value="2") UKG
                    option(value="3") 1st
                    option(value="4") 2nd
                    option(value="5") 3rd
                    option(value="6") 4th
                    option(value="7") 5th
                    option(value="8") 6th
                    option(value="9") 7th
                    option(value="10") 8th 
                select#class-to(name="fee-class")
                    option(value="0") PG
                    option(value="1") LKG
                    option(value="2") UKG
                    option(value="3") 1st
                    option(value="4") 2nd
                    option(value="5") 3rd
                    option(value="6") 4th
                    option(value="7") 5th
                    option(value="8") 6th
                    option(value="9") 7th
                    option(value="10") 8th 
            p.left
                input.fee-option(type="radio" id="get-by-date-radio" checked name="radio")
                label(for="fee-date") Date
                input.fee-option(type="radio" id="get-by-month-radio" name="radio")
                label(for="fee-month") Month
            p.get-by-date
                label(for="") 
                input(type="text" onfocus="(this.type='date')" name="feeOptions" id="date-from" placeholder="date-from")
                input(type="text" name="feeOptions" id="date-to" onfocus="(this.type='date')" placeholder="date-to")
            p.get-by-month.invisible
                label(for="") 
                input(type="number" name="feeOptions" id="month-from" placeholder="month-from")
                input(type="number" name="feeOptions" id="month-to" placeholder="month-to")
            p.get-by-month.invisible  
                label(for="fee-year") Session
                input(type="number" name="fee-year" id="fee-session" placeholder="year")
            br
            input(type="submit" value="Search" id="fees-search")