extend base

block content
    .form-div
        form.get-form#forgot-password
            label(for="email-login") Email
            input#email-login(type="text" name="name" placeholder="email")
            input#forgot-password-submit(type="Submit" value="Send Mail")