extend base

block content
    .form-div
        form#get-one-form.get-form
            p Enter the required data
            label(name="Enter-year") Enter Year
            input#year(type="text" name="Enter-year" placeholder="20**")
            label(name="Enter-class") Enter Class
            input#student-class(type="text" name="Enter-class" placeholder="P.G TO 8")
            label(name="Enter-student") Enter Student's name
            input#name(type="text" name="Enter-student-name" placeholder="Enter student's name")
            input#submit-one(type="submit" name="submit" value="Submit")