extend base

block content
    .form-div
        form.get-form#get-all-form
            p Enter the required data
            label(for="Enter-year") Enter Year
            input#all-year(type="text" name="Enter-year" value="" placeholder="20**")
            label(for="Enter-class") Enter Class
            input#all-class(type="text" name="Enter-class" value="" placeholder="P.G TO 8")
            input#submit-all-form(type="submit" name="submit" value="Submit")