extend base

block content
    .form-div
        form.get-form#login-form
            p Enter the required data
            label(for="email-login") Email
            input#email-login(type="text" name="name" placeholder="email")
            label(for="password-login") Password
            input#password-login(type="password" name="password" placeholder="password")
            input#submit-login(type="submit" value="Login")