extend base

block content
    section.first--page
        .first--page--options
            a.first--page--list--option(href="/studentInfo") Student Info
            a.first--page--list--option.small-invisible(href="/documentInfo") Documents Info
