extend base

block content
    .extender
        .doc--page
            a(href="/studentInfo/printExcelFees")
                button.option--btn Student Fees Record
            a(href="/studentInfo/sr-excel")
                button.option--btn Student S.R Record
