extend base

block content
    .form-div
        form.get-form#promote-form
            p Enter the required data
            label(for="promote-class") Enter S.R
            select#promote-sr(name="promote-sr")
                option(value="LKG TO UKG") LKG TO UKG
                option(value="1 TO 5") 1 TO 5
                option(value="6 TO 8") 6 TO 8
            label(for="promote-class") Enter Class
            input#promote-class(type="text" name="promote-class" value="" placeholder="Enter class in selected S.R ange")
            label(for="promote-passing-date") Enter Passing Date
            input#promote-passing-date(type="text" name="promote-passing-date" value="" placeholder="Enter passing date")
            label(for="promote-next-admission-date") Enter Next Admission Date
            input#promote-next-admission-date(type="text" name="promote-next-admission-date" value="" placeholder="Enter next admission date")
            label.invisible.promote-next(for="promote-passing-message") Enter Passing Message
            input.invisible.promote-next#promote-passing-message(type="text" name="promote-passing-message" value="" placeholder="Enter message in case of classes UKG,5TH & 8th ")
            input#submit-promote-form(type="submit" name="submit" value="Submit")