extend base

block content
    .form-div
        form.get-form#forgot-email
            label(for="Email") Email
            input#user_email(type="text" value=`${userForgot.email}` disabled)
            label(for="user_new_password") New Password
            input#user_new_password(type="Password"  placeholder="Enter new password")
            label(for="user_confirm_new_password") Confirm New Password
            input#user_confirm_new_password(type="Password"  placeholder="Confirm password")
            input#forgot-email-submit(type="Submit" value="Update Information")